
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
    overflow-x: hidden; 
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px){
    html,body{
        background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);
        height: 200%;
        width: 165%;
        background-repeat: no-repeat;
        overflow-x: hidden; 
    }

    nav{
        top: 0;
    }

    .nav-links{
        margin-left: 100%;
    }
    
    
    .nav-links a{
        color:white;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 25px;
        margin-left: 30px;
    }
    .nav-links li{
        list-style: none;
    }

    .frase-1{
        background-color: white;
        height: 120px;
        margin-left: 160px;
        margin-top: 80px;
        width: 80%;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
    }
    
    .frase-1 p{
        font-size: 30px;
        text-align: center;
        color: purple;
        font-family: 'Pangolin', cursive;
        margin-top: 80px;
        margin-right: 50px;
    }

    .main{
        margin-left: auto;
        text-align: center;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);
    }


}


.content-inner{
    margin-right:145px;
    margin-left: auto;
    margin-top: 20px;
}


.content-menu{
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 38px;
    color: black;
    margin-left: 160px;
}

.sidebar{
    float:right;
    margin-left: 100px;
    margin-right: 40px;
    width: 100%;
    color: black;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

@media (min-width: 1170px) {
    .sidebar {
        max-width: 1170px;
        padding: 0;
    }
    .content-menu {
        max-width: 1170px;
        text-align: center;
        padding: 0;
    }
}

.main{
    margin-left: auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 20px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);
    background-repeat: no-repeat;
}


nav{
    min-height: 8vh;
    background-color: #800080!important;
    font-family: 'Bree Serif', Serif;
    width: 100%;
    height: 80px;
}

.mobile{
    opacity: 0;
}

ul.nav-links-desktop{
    list-style: none;
    width: 100%;
    display: flex;
}


#check, ul.nav-links-mobile{
    display: none;
}

ul.nav-links-desktop li{
    cursor: pointer;
    flex: 1;
    text-align: center;
}

ul.nav-links-desktop li a {
    color: white;
}

.logo{
    color: white;
    font-size: 25px;
}

.logo-img{
  display: flex;
  margin: 40px;
  top: 0;
}


.info div{
    width: 25px;
    height: 3px;
    background-color: deeppink;
    margin: 5px;
    transition: all 0.3s ease;
}

.info{
    display: none;
    cursor: pointer;
}

footer{
    bottom: 0px;
    width: 100%;
    height: 150px;
    background-color: #800080;
    color: white;
}

.main-content{
    text-align: center;
    flex-direction: column;
}

.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}

.content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@media screen and (max-width: 1024px){

    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width: 768px){

    body{
        overflow-x: hidden;
    }

    main{
        margin-left: auto;
        text-align: center;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);

      }

    .nav-links{
        position: fixed;
        right: -230px;
        margin-left: 100px;
        /*
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        */
        background-color: #800080;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }

    .nav-links li{
        color: white;
    }

    .info{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .linha1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .linha2{
    opacity: 0;
    
}
.toggle .linha3{
    transform: rotate(45deg) translate(-5px,-6px);
}





.subtitle-menu p::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca{
    0%,100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.frase-1{
    background-color: white;
    margin-left: 340px;
    margin-top: 80px;
    width: 50%;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}

.frase-1 p{
    font-size: 30px;
    text-align: center;
    color: purple;
    font-family: 'Pangolin', cursive;
    margin-top: 80px;
}

.time{
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    margin-top: 150px;
    margin-bottom: -20px;

}

h3.time-2{
    background-color: #e0e0e0;
    height: 120px;
    
}

.time-2{
    font-size: 2.75rem
}

.col-lg-4 {
    border-color: black;
    border-radius: 10px;
}

.galeria{
    color: white;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 2.75rem;
    margin-left: 450px;
    margin-right: 390px;
    margin-top:150px;
    margin-bottom: 95px;
}

.circulo-img-emilly {
	width: 50%;
	border-radius: 50%;
    overflow: hidden;
    margin-bottom: 38px;
    background-color: #800080;
    margin-left: 25%;
}

.circulo-img-karina {
	width: 50%;
    border-radius: 50%;
    margin-bottom: 38px;
	overflow: hidden;
    background-color: #800080;
    margin-left: 25%;
}

.circulo-img-emilia {
	width: 50%;
	border-radius: 50%;
    overflow: hidden;
    height: 40%;
    background-color: #800080;
    margin-left: 25%;
}

.circulo-img-vitoria {
	width: 50%;
	border-radius: 50%;
    overflow: hidden;
    height: 40%;
    background-color: #800080;
    margin-left: 25%;
}

.circulo-img-celeny{
	width: 50%;
	border-radius: 50%;
    overflow: hidden;
    height: 38%;
    margin: 0;
    margin-top: 15px;
    background-color: #800080;
	margin-left: 25%;
}

.circulo-img-grazi{
	width: 50%;
	border-radius: 50%;
    overflow: hidden;
    height: 40%;
    background-color: #800080;
	margin-left: 25%;
}


.container-galeria{
    display: flex;
    background-repeat: no-repeat;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);
}

.card-img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 25px;
}

.small-img{
    height: 100%;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    flex-wrap: wrap;
}

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="left"]{
    transform: translate3d(-50px,0,0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}

@media only screen and (max-width: 769px ) {

    html,body{
        overflow-x: hidden; 
    }

    .btn-menu {
        width: 45px;
        height: 40px; 
        position: absolute;
        left: 10px;
        top: 10px;
        padding: 10px;
        background-color: deeppink;
        cursor: pointer;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s; 
        -moz-transition-duration: 0.3s;
        display: none;
      }

    main{
        margin-left: auto;
        text-align: center;
        width: 103%;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21% , rgba(253,29,184,1) 100%);

      }

    .content-menu{
        font-family: 'Alata', sans-serif;
        text-align: center;
        font-size: 28px;
        color: black;
        margin-right: -40px;
    }


    .logo{
        color: white;
        font-size: 25px;
        margin-right: 600px;
    }

    .logo-img{
        margin-left: 40px;
    }


      
    .sidebar{
        width: 100%;
        color: black;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        text-align: center;
        margin-right: 10%;
    }

    .sidebar p{
        margin-right: 10px;
        width: 100%;
        color: black;
        text-align: center;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 45px;
    }

      .frase-1{
        background-color: white;
        height: 120px;
        margin-left: 10%;
        width: 80%;
        -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
      }

      .frase-1 p {
        font-size: 30px;
        text-align: center;
        color: purple;
        align-items: center;
        margin-left: 30px;
        font-family: Pangolin, cursive;
        margin-top: 80px;
    }

    .galeria{
        color: white;
        text-align: center;
        font-family: 'Alata', sans-serif;
        font-size: 2.75rem;
        margin-left: 430px;
        margin-right: 390px;
        margin-top:150px;
        margin-bottom: 95px;
    }

    .small-img{
        height: 60%;
        cursor: pointer;
    }

    .content-inner{
        margin-top: 20px;
        text-align: center;
        margin-right: 180px;
    }

    .content-inner h1{
        font-size: 22px;
        margin-left: 10px;
        text-align: center;
    }

    ul.nav-links-desktop{
        display: none;
    }

    label, ul.nav-links-mobile{
        display: block;
    }

    .nav-links{
        /*
        position: absolute;
        z-index: 9999;
        display: flex;
        justify-content: space-around;
        width: 50%;
        right: -100px;
        */
    }

    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        height: 25%;
        top: 0;
        background-color: #800080!important;
        font-family: 'Bree Serif', Serif;
        width: 107%
    }

    }