 /* desktop */

 @media (min-width: 1670px )  and (max-width: 3840px){
main{
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
}

.img-pyladies{
    margin-top: 100px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
}

.about-inicial{
    margin-top: 5%;
    font-family: 'Pacifico', cursive;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
    font-size: 35px;
    color: white;
    height: 35%;
}

.about-parnaiba{
    font-family: 'Pacifico', cursive;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);

    font-size: 35px;
    height: 50%;
    color: white;
}

.about-parnaiba p{
    margin-top: 90px;
    font-size: 60px;
    height: 40px;
}

.about-parnaiba h2{
    margin: 40px;
    margin-top: 80px
}

.img-liza{
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
    margin-bottom: 10%;
}

.chamada{
    color: white;
    margin-top: 60px;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
    height: 80px;
}
}

/* notebook */

@media screen and (min-width: 1355px) and (max-width: 1669px){

    main{
        background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
    }

    .img-pyladies{
        margin-top: 50px;
    }

    .about-inicial{
        margin-top: 5%;
        font-family: 'Pacifico', cursive;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
        font-size: 35px;
        color: white;
        height: 35%;
    }
    
    .about-parnaiba{
        font-family: 'Pacifico', cursive;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
        font-size: 35px;
        height: 50%;
        color: white;
    }

    .about-parnaiba p{
        margin-top: 180px;
        font-size: 50px;
        height: 50px;
    }
    
    .img-liza{
        background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
        margin-top: 60px;
    }

    .about-parnaiba h2{
        margin: 40px;
        margin-top: 60px
    }
    
    .chamada{
        color: white;
        margin-top: 60px;
        font-family: 'Pacifico', cursive;
        font-size: 35px;
        background: linear-gradient(90deg, rgba(131,58,180,1) 21%, rgba(253,29,184,1) 100%);
        height: 100px;
    }

}


